@import "../../vendor/fonts.scss";

.header {
  //   max-width: 1300px;
  position: absolute;
  //   position: fixed;
  top: 0;
  left: 0;
  background-color: #ad9db7;
  width: 100%;
  padding-bottom: 1px;
  //   backdrop-filter: blur(20px);
}

.header__header {
  padding: 20px 0 15px;
  border-bottom: #262225 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.header__logo {
  height: 40px;
  width: 150px;
  margin-left: 15px;
}

.header__nav {
  margin-top: auto;
  display: flex;
  align-items: end;
  gap: 20px;
  margin-right: 15px;

  .header__link {
    @include font-inter-s(20px);
    text-decoration: none;
    color: #262225;
  }

  .header__link_active {
    text-decoration: underline;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #262225;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
